.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(90, 90, 90, 0.5);
}
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 200px;
  max-width: 450px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.CloseBtn {
  position: absolute;
  top: 3px;
  right: 1px;
  background-color: #fff;
  cursor: pointer;
  border: none;
  fill: #1a1a1a;
  display: block;
  text-align: center;
  margin: 0 auto;
}
